#box{
    background-color:darkgray;
    color:white;
    width:500px;
    height:90px;
text-align:center;
padding:20px;
}
#box2{
    background-color: red;
    width:100px;
    height:100px;
    position:relative;
    margin:30px;
}